<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movies List</title>
    <script src="https://kit.fontawesome.com/48526c312e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav>
        <h2>Shelf__Life</h2>
        <form action="/movies" method="POST">
            <input type="text" placeholder="Search for the title here" name="name" class="search-input"/>
            <button type="submit" class="search-button">Search</button>
          </form>
    </nav>
    <!-- <h1>🍿 Your Movie List:</h1> -->
    <!-- <form action="/movies" method="POST" class="search-form">
        <input type="text" placeholder="Name of Movie" name="name" class="search-input"/>
        <button type="submit" class="search-button">Submit</button>
      </form> -->
    <ul class="movies">
        <% for(let i=0;i<info.length;i++) {%>
            <li class="movie">
                <span class="movie-name <%=!info[i].watched?``:`movie-name-watched`%>"><%=info[i].movieName %>                <span class="fa-solid fa-square-check <%=!info[i].watched?``:`fa-watched`%>"></span>
                <span class="fa-solid fa-trash"></span></span>
                <span class="watched-state"><%=info[i].watched?"Watched":"Haven't seen" %></span>

            </li>
        <% } %>
    </ul>
    <script src="js/main.js"></script>
  </body>
</html>
