<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movies List</title>
    <script src="https://kit.fontawesome.com/48526c312e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1>🍿 Your Movie List:</h1>
    <form action="/movies" method="POST">
        <input type="text" placeholder="Name of Movie" name="name" class="search-input"/>
        <button type="submit" class="search-button">Submit</button>
      </form>
    <ul class="movies">
        <% for(let i=0;i<info.length;i++) {%>
            <li class="movie">
                <span class="movie-name <%=!info[i].watched?``:`movie-name-watched`%>"><%=info[i].movieName %></span>
                <span class="watched-state"><%=info[i].watched?"Watched":"Haven't watched" %></span>
                <span class="fa-solid fa-square-check <%=!info[i].watched?``:`fa-watched`%>"></span>
                <span class="fa-solid fa-trash"></span>
            </li>
        <% } %>
    </ul>
    <script src="js/main.js"></script>
  </body>
</html>
