* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.03em;
}

body {
    max-width: 70ch;
    padding: 3em 1em;
    margin: auto;
    line-height: 1.75;
    font-size: 1.25em;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.2em 0.5em;
    gap: 0.8em;
}

nav > h2 {
    margin: 0;
    width: max-content;
    /* flex: 1; */
}

nav > form {
    display: flex;
    justify-content: flex-end;
    /* gap: 0.3em; */
    /* width: 75%; */
    width: 100%;
}

.search-input {
    appearance: none;
    border: none;
    border-bottom: 1px solid gray;
    /* border: 1px solid gray; */
    /* border-radius: 23px; */
    text-align: center;
    flex: 4;
    font-size: 1em;
    padding: 0.4em;
    /* max-width: 50em; */
}

.search-input:hover {
    background: rgb(240, 240, 240);
    transition: all 100ms ease-in-out;
}

.search-input:focus{
    outline: none;
    border: 1px solid gray;
    background: rgb(240, 240, 240);
    /* border-bottom: 1px solid red; */
    transition: all 100ms ease-in-out;
}

.search-button {
    border: none;
    border-bottom: 1px solid gray;
    background: transparent;
    /* border: 1px solid gray;
    border-radius: 23px; */
    text-align: center;
    margin-right: 0.1em;
    flex: 1;
    max-width: 8em;
    font-size: 1em;
}

.search-button:hover {
    background: black;
    color:white;
    transition: all 100ms ease-in-out;
    cursor: pointer;
}
.movies {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5em;
    padding: 0;
}

.movie {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 2px;
    margin-bottom: 5px;
}

.movie-name, .watched-state {
    flex: auto;
}

.movie-name {
    font-weight: 600;
    flex: 2;
}

.movie-name-watched {
    font-weight: 400;
    text-decoration: line-through;
}

.watched-state {
    flex: 3;
}

.fa-solid {
    cursor: pointer;
}

.fa-solid:hover {
    color: red;
    /* scale: 1.1; */
    transition: all 100ms ease-in-out;
}

.fa-watched {
    color: green;
}

/* .search-form {
    display: flex;
    gap: 0.2em;
    margin-bottom: 2em;
}

.search-input {
    flex: 4;
    padding: 0.5em;
    font-size: 1em;
}

.search-button {
    flex: 1;
    font-size: 1em;
} */